@media only screen and (max-width: 414px) {

  body {

  }

  #menu-button {
    display: inline-block;
  }

  header {
    width: 100vw;
  }

  #gradientHeader {
    width: 39vw;
    height: 11vw;
  }

  nav a {
    display: none;
  }

  h1 {
    font-size: 10vw;
    margin-top: -11vw;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 7vw;
  }

  h4 {
    font-size: 4vw;
  }

  #projects {
    margin-top: -10vw;
  }

  .blackBar {
    height: 4vw;
  }

  #homeImg {
    display: none;
  }

  #intro {
    margin-top: 10px;
    width: 80vw;
  }

  #underLine {
    padding-bottom: 12vw;
  }

  #theMeat {
    margin-top: -2vw;
  }

  #calculators {
    display: block;
    width: 100%;
  }

  #neuralNetwork {
    display: block;
    float: left;
    width: 85vw;
  }

  #otherRepos {
    padding-top: 190vw;

    display: block;
  }

  .repo {
    height: 20vw;
    width: 100%;
    display: block;
  }

  #otherRepos p {
    font-size: 4vw;
    margin-top: -5vw;
  }

  #viewMore {
    width: 70vw;
    height: 4vw;
    margin-top: 15vw;
    padding-top: 12px;
  }

  #viewMore a {
    font-size: 5vw;
    margin-left: 5vw;
  }

  #goodies {
    padding-left: 0;
    float: left;
  }

  th, tr {
    font-size: 3vw;
  }

  #contact {
    width: 90vw;
    padding-top: 270vw;
    display: block;
  }

  #contact h3 {
    font-size: 4.5vw;
  }

  #location {
    text-align: left;
    margin-left: 0;
  }

  footer {
    width: 91vw;
    margin-top: 200vw;
    height: 20vw;
  }

}

@media only screen and (max-width: 768px) {
  .repo {
    margin-top: 4vw;
    display: inline-block;
    height: auto;
  }

  #otherRepos {
    margin-top: 50vw;
  }

  #otherRepos a {
    font-size: 5vw;
  }

  #otherRepos p {
    font-size: 4vw;
    margin-top: -20px;
  }

  #viewMore {
    margin-top: 30vw;
    float: right;
    margin-left: 30vw;
  }

  #contact {
    margin-top: 110vw;
  }

  footer {
    margin-top: 230vw;
  }
}
