<DOCTYPE html>
<html>

  <head>
    <title>Reece Martin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="css/responsive.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://nt4.com/js/jquery"></script>
    <script src="js/myapp.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon-16x16.png">
  </head>

  <body>
    <header>
        <div id="gradientHeader"></div>
        <h1>Reece Martin</h1>

    </header>

    <nav>
      <img src="images/profilePic.jpg" id="homeImg">
      <div id="links">
      <a href="https://www.linkedin.com/in/reece-martin-a4287b90/" target="_blank">linkedin</a>
      <a href="https://github.com/reecemartin" class="whiteLink" target="_blank">github</a>
      <a href="https://www.youtube.com/channel/UCf4iKXL_SJQ5d0qsKkboRRQ" class="whiteLink" target="_blank">youtube</a>
      </div>

      <div id="menu-button">
    <div id="line-1"></div>
    <div id="line-2"></div>
    <div id="line-3"></div>
  </div>
    </nav>

    <div id="menu">
      <ul>
        <li><a href="https://www.linkedin.com/in/reece-martin-a4287b90/">linkedin - - ></a></li>
        <li><a href="https://github.com/reecemartin">github - - ></a></li>
        <li><a href="https://www.youtube.com/channel/UCf4iKXL_SJQ5d0qsKkboRRQ">youtube - - ></a></li>
      </ul>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/javascript.js"></script>




    <section id="intro">
      <h3><div id="underLine">sof</div>tware developer / engineer</h2>
      <h3>studying @ University of Toronto</h2>
      <h4>coder / musician / numtot</h4>
    </section>

    <section id="projects">
      <div id="root" ng-app = "rootApp" ng-controller = 'rootController'>
      <div class="blackBar"></div>
      <h2>Projects</h2>
        <div id="theMeat">
          <div id="calculators">
          <div id="factorialCalulator">
            <h3>Factorial Calculator</h3>
                    <div id="factorial" ng-controller = "factController" class="bracketBox">
                        <p>Enter your number, I'll give you the factorial: <input type =
                          "number" ng-model = "number"></p>
                          <div class="alert" ng-class="{ 'alert-warning': number < 0, 'alert-danger': number > 170 }" ng-if = "number < 0 || number > 170">
                            <div ng-show="!(number > 0)">
                                Factorial is undefined for negative values.
                            </div>
                            <div ng-show="number > 170">
                              That value is too large.
                          </div>
                          </div>
                      <div ng-if="number != null && number >= 0 && number <= 170">
                        {{factorial()}}
                        <p>{{number}}! = {{prod}}</p>
                      </div>
                  </div>
           </div>

        <div id="fibonacciCalulator">
          <h3>Fibonacci Calculator</h3>
                <div id="fibonacci" ng-controller = "fibController" class="bracketBox">
                      <p>Enter your number, I'll give you the fibonacci sum: <input type =
                            "number" ng-model = "number"></p>
                            <div class="alert" ng-class="{ 'alert-warning': number < 0, 'alert-danger': number > 1700000 }" ng-if="number < 0 || number > 1476">
                              <div ng-show="!(number > 0)">
                                Fibonacci is undefined for negative values.
                              </div>
                              <div ng-show="number > 1476">
                                That value is too large.
                              </div>
                            </div>
                      <div ng-if="number != null && number >= 0 && number <= 1476">
                              {{fibonacci()}}
                              <p>{{number}}fib = {{prod}}</p>
                      </div>
                </div>
                </div>
        </div>

        <div id="neuralNetwork">
          <h3>Logic Gate Neural Network</h3>
          <div id ="neuralNet" ng-controller = "nnController" class="bracketBox">
              {{setUpNetwork()}}

              <form name="gateSelectForm">
                  <label for="gateSelect">Choose the gate to use:</label>
                  <select name="gateSelect" id="gateSelect"
                    ng-options="option.name for option in data.gateOptions track by option.id"
                    ng-model="data.gateSelected"
                    ng-disabled="data.running"></select>
                    <p>You selected A {{data.gateSelected.id}} B</p>

                    <input type = "button" value = "start training" ng-click = "startNetwork()"/>
              </form>
              <br>
              <table style = "float: center;width:50%">
                  <tr>
                      <td style = "width:50%">
                          <table class = "table table-bordered">
                              <caption>Desired Output</caption>
                              <tr>
                                  <th> Input A </th>
                                  <th> Input B </th>
                                  <th> Output </th>
                              </tr>
                              <tr ng-repeat="data in trainingData()">
                                  <td>{{(data.inputs)[0]}}</td>
                                  <td>{{(data.inputs)[1]}}</td>
                                  <td>{{data.output}}</td>
                              </tr>
                          </table>
                      </td>
                      <td style = "width:50%">
                          <table class = "table table-bordered">
                              <caption>Current Output</caption>
                              <tr>
                                  <th> Input A </th>
                                  <th> Input B </th>
                                  <th> Output </th>
                              </tr>
                              <tr ng-repeat="data in results">
                                  <td>{{(data.inputs)[0]}}</td>
                                  <td>{{(data.inputs)[1]}}</td>
                                  <td>{{data.output.toFixed(8)}}</td>
                              </tr>
                          </table>
                      </td>
              </tr>
              </table>
              <p ng-if="data.running">Training...</p>
              <p ng-if="data.complete">Training complete! This took {{nnData.iterations}} iterations.</p>
          </div>
        </div>
        </div>
      </div>
      </section>

      <section id="otherRepos">
        <h3><div id="underLineRepos">oth</div>er repos</h3>
        <div class="repo"><a href="https://github.com/reecemartin/reecemartin.github.io" target="_blank"><h5>reecemartin.github.io</h5></a>
        <p>A personal website for the use of myself and others.</p></div>
        <div class="repo"><a href="https://github.com/reecemartin/binaryneuralnet" target="_blank"><h5>binaryneuralnet</h5></a>
        <p>A Binary Multi-Layer Neural Network          &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></div>
        <div class="repo"><a href="https://github.com/reecemartin/photomanager" target="_blank"><h5>photomanager</h5></a>
        <p>A cross-platform desktop application for photo tagging and management.</p></div>
        <div class="repo"><a href="https://github.com/reecemartin/AuGit" target="_blank"><h5>AuGit</h5></a>
        <p>Software for Automating Git Commit Messages</p></div>
      </section>

      <div id="viewMore">
        <a href="https://github.com/reecemartin" target="_blank">view more on GitHub - - ></a>
      </div>

      <section id="contact">
        <div class="blackBar"></div>
        <h2>Contact</h2>
        <div id="goodies">
        <div id="email">
          <img src="images/close-envelope.png">
          <a href="mailto:reece.martin@mail.utoronto.ca" target="_top"><h3>reece.martin@mail.utoronto.ca</h3></a>
        </div>
        <div id="location">
          <img src="images/pin.png">
          <h3>Toronto, Canada</h3>
        </div>
        </div>
      </section>

  </body>

</html>
