<!DOCTYPE html>
<html>
    <head>
        <title>Reece Martin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="myapp.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="favicon-16x16.png">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <p><h1 align ="center">Reece Martin</h1></p>
        <hr>
    </head>

    <body>
    <div id="root" ng-app = "rootApp" align = "center" ng-controller = 'rootController'>
        <div id="factorial" ng-controller = "factController">
            <p><h3>Factorial Calculator</h3></p>
            <p>Enter your number, I'll give you the factorial: <input type =
                "number" ng-model = "number"></p>

                <div class="alert" ng-class="{ 'alert-warning': number < 0, 'alert-danger': number > 170 }" ng-if="number < 0 || number > 170">

                    <div ng-show="!(number > 0)">
                        Factorial is undefined for negative values.
                    </div>
                    <div ng-show="number > 170">
                        That value is too large.
                    </div>

                </div>

            <div ng-if="number >= 0 && number <= 170">
                {{factorial()}}
                <p>Result: {{prod}}</p>
            </div>
        </div>

        <hr>

        <div id ="neuralNet" ng-controller = "nnController">
            <p><h3>Logic Gate Neural Network</h3></p>

            <form name="gateSelectForm">
                <label for="gateSelect">Choose the gate to use:</label>
                <select name="gateSelect" id="gateSelect"
                  ng-options="option.name for option in data.gateOptions track by option.id"
                  ng-model="data.gateSelected"></select>
            </form>
            <p>You selected {{data.gateSelected}}</p>
        </div>

    </div>
</body>

</html>
