.textContainer {
    align-content: center;
    margin-left: 10%;
    max-width: 80%;
}

.courseCol {
    display: inline-block;
    align-content: center;
}

.screenshotSizing {
    max-width: 80%;
    max-height: 700px;
}

#profileCircle {
    border-radius: 50%;
}

.logoImg {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
    
th {
    text-align: center;
}

td {
    text-align: center;
}

a:link {
    color: RoyalBlue;
}

a:visited {
    color: SteelBlue;
}

a:hover {
    text-decoration: underline;
} 

a:active {
    text-decoration: underline;
}