.bottomFooter {
    font-family: 'Ubuntu', sans-serif
}

#footerText {
    margin-left: 80px;
    display: inline-block;
    color: #fa8605;
}

#footerHeader {
    margin-top: 80px;
    margin-left: 40px;
    color: #fa8605;
}

#linkStyle {
    text-decoration: none;
    color: #fa8605;
}
