.barStyle {
    font-family: 'Ubuntu', sans-serif;
}

#headingtyle {
    margin-left: 70px;
    color: #fa8605;
}

#navLinkStyle {
    text-decoration: none;
    color: #fa8605;
}

#navBarText {
    margin-left: 70px;
    display: inline-block;
    color: #fa8605;
}

#navBarHeader {
    margin-left: 70px;
    color: #fa8605;
}
